.profile-title {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
}

.profile-box {
    margin-left: 30px;
    margin-bottom: 6px;
}

.box-fill {
    background-color: #354A63;
    color: white;
    border-radius: 4px;
    width: 80%;
    padding: 4px;   
}

.split {
    margin-top: 40px;    
    height:1px;
    background-color: black;
}

.profile-button {
    color: black;
    background-color: #facf39;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 20px;
}

.button-wrap {
    display: flex;
    justify-content: center;
}