.lesson-wrap {
    display: grid;
    grid-template-columns: auto auto;
    height:640px;
}
.lesson-item {
    font-size: 30px;
    text-align: center;
    background-image: url('~/src/components/pic/pic7.jpg') ;
    padding-top: 250px;
}

.lesson-button {
    color: black;
    background-color: #facf39;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    padding: 10px;
}