.ins {
    color: white;
    text-align: center;
}

.bg {
    background-image: url(~/src/components/pic/pic1.jpg);
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg2 {
    background-image: url(~/src/components/pic/pic1.jpg);
    height: 500%;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap {
    width: 100%;
    height:100%;
}

.ins-head {
    padding-top: 20px;
}

.ins-logo {
    margin-top: 150px;
    font-size: 4rem;
}

.ins-text {
    margin-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    line-height: 2rem;
}

.ins2-text {
    padding-top: 260px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2rem;
}

.ins2-but {
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    padding: 8px;
    cursor: pointer;
    background-color: #354a63;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}

.ins-but {
    margin-top: 20px;
    margin-bottom: 30px;
    color: black;
    padding: 8px;
    cursor: pointer;
    background-color: #e2bd36;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}