
.DownContain2 {
    background-image: url(~/src/components/pic/pic1.jpg);
    background: cover;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    margin-bottom: 30px;
}
.UpContain2 {
        background-image: url(~/src/components/pic/pic1.jpg);
    background: cover;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    margin-bottom: 30px;
}

.UpContain-icon2 {
    color: #2abaff;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.DownContain-icon2 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 100px;    

}

.icon2-wrap {
    background-color: #3AA645;
    padding: 6px;
    border-radius: 50%;
}
    