.arrow-return {
    font-size: 1.4rem;
    position: absolute;
    left: 15px;
    background-color: #36475c;
    border-radius: 50%;
    text-decoration: none;
    color: white;
}

.subject-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.but-wrap {
    justify-content: center;
    display: flex;
    text-decoration: none;
}

